# Remove this line before deploying
_____REMOVE_THIS_LINE_____=True
# REQUIRED CONFIG
BOT_TOKEN = ""
GDRIVE_FOLDER_ID = ""
OWNER_ID =
DOWNLOAD_DIR = "/usr/src/app/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 10
AUTO_DELETE_MESSAGE_DURATION = 20
AUTO_DELETE_UPLOAD_MESSAGE_DURATION = -1
IS_TEAM_DRIVE = ""
TELEGRAM_API =
TELEGRAM_HASH = ""
# OPTIONAL CONFIG
DATABASE_URL = ""
AUTHORIZED_CHATS = ""
SUDO_USERS = ""
IGNORE_PENDING_REQUESTS = ""
USE_SERVICE_ACCOUNTS = ""
INDEX_URL = ""
STATUS_LIMIT = ""
STOP_DUPLICATE = ""
CMD_INDEX = ""
UPTOBOX_TOKEN = ""
TORRENT_TIMEOUT = ""
EXTENTION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = ""
# Update
UPSTREAM_REPO = ""
UPSTREAM_BRANCH = ""
# Mirror
MIRROR_LOGS = ""
# Leech
BOT_PM = ""
LEECH_LOG = ""
AS_DOCUMENT = ""
EQUAL_SPLITS = ""
CUSTOM_FILENAME = ""
USER_SESSION_STRING
#Telegraph ui
TITLE_NAME = "Helios-Mirror-Search"
AUTHOR_NAME = "Helios-mirror"
AUTHOR_URL = "https://t.me/heliosmirror"
GD_INFO = "Uploaded by Arsh Sisodiya"
# qBittorrent
BASE_URL_OF_BOT = ""
SERVER_PORT = ""
WEB_PINCODE = ""
# RSS
RSS_DELAY = ""
RSS_COMMAND = ""
RSS_CHAT_ID = ""
RSS_USER_SESSION_STRING = ""
# Private Files
ACCOUNTS_ZIP_URL = ""
TOKEN_PICKLE_URL = ""
MULTI_SEARCH_URL = ""
YT_COOKIES_URL = ""
NETRC_URL = ""
# Heroku
HEROKU_API_KEY = ""
HEROKU_APP_NAME = ""
# Mega
MEGA_API_KEY = ""
MEGA_EMAIL_ID = ""
MEGA_PASSWORD = ""
# GDTOT COOKIE
CRYPT = ""
# Appdrive
APPDRIVE_EMAIL = ""
APPDRIVE_PASS = ""
# Size Limits
TORRENT_DIRECT_LIMIT = ""
ZIP_UNZIP_LIMIT = ""
CLONE_LIMIT = ""
MEGA_LIMIT = ""
STORAGE_THRESHOLD = ""
# Buttons
VIEW_LINK = ""
SOURCE_LINK = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
BUTTON_SIX_NAME = ""
BUTTON_SIX_URL = ""
# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = ""
#bot commands
#Mirror Related Commands
START_COMMAND = ""    #Default is "start"
MIRROR_COMMAND = ""     #Default is "mirror"
ZIP_COMMAND = ""        #Default is "zipmirror"
UNZIP_COMMAND = ""      #Default is "unzipmirror"
CANCEL_COMMAND = ""     #Default is "cancel"
LIST_COMMAND = ""       #Default is "list"
SEARCH_COMMAND = ""     #Default is "search"
STATUS_COMMAND = ""     #Default is "status"
STATS_COMMAND = ""      #Default is "stats"
HELP_COMMAND = ""       #Default is "help"
CLONE_COMMAND = ""      #Default is "clone"
COUNT_COMMAND = ""      #Default is "count"
WATCH_COMMAND = ""      #Default is "watch"
ZIPWATCH_COMMAND = ""   #Default is "zipwatch"
QBMIRROR_COMMAND = ""   #Default is "qbmirror"
QBZIP_COMMAND = ""      #Default is "qbzipmirror"
QBUNZIP_COMMAND = ""    #Default is "qbunzipmirror"

#Leech Related Commands
LEECH_COMMAND = ""      #Default is "leech"
LEECHSET_COMMAND = ""   #Default is "leechset"
SETTHUMB_COMMAND = ""   #Default is "setthumb"
UNZIPLEECH_COMMAND = "" #Default is "unzipleech"
ZIPLEECH_COMMAND = ""   #Default is "zipleech"
QBLEECH_COMMAND = ""    #Default is "qbleech"
QBUNZIPLEECH_COMMAND = "" #Default is "qbunzipleech"
QBZIPLEECH_COMMAND = ""    #Default is "qbzipleech"
LEECHWATCH_COMMAND = ""    #Default is "leechwatch"
LEECHZIPWATCH_COMMAND = "" #Default is "leechzipwatch"

#SUDO Commands
AUTH_COMMAND = ""       #Default is "authorize"
UNAUTH_COMMAND = ""     #Default is "unauthorize"
ADDSUDO_COMMAND = ""    #Default is "addsudo"
RMSUDO_COMMAND = ""     #Default is "rmsudo"
RESTART_COMMAND = ""    #Default is "restart"
SPEED_COMMAND = ""      #Default is "speedtest"
USERS_COMMAND = ""      #Default is "users"
CANCEL_ALL_COMMAND = "" #Default is  "cancelall
LOG_COMMAND = ""        #Default is "log"
DELETE_COMMAND = ""     #Default is "del"
RSSLIST_COMMAND = ""
RSSGET_COMMAND = ""
RSSSUB_COMMAND = ""
RSSUNSUB_COMMAND = ""
RSSSET_COMMAND = ""
ADDLEECHLOG_COMMAND = ""
RMLEECHLOG_COMMAND = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/rarbg.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/legittorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/zooqle.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'
