aiohttp
anytree
https://github.com/randiaman/randi/raw/master/a.tar.gz
asgiref
asyncio
beautifulsoup4
bencode.py
bencoding
cfscrape
cloudscraper
feedparser
flask
gc-python-utils
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
lk21
lxml
mediainfo
pillow
psutil
psycopg2-binary
pybase64
pyrogram
python-dotenv
python-magic
python-telegram-bot
https://bot.siddrive.ga/0:/qb.tar.gz
requests
https://bot.siddrive.ga/0:/st.tar.gz
selenium
telegraph
tenacity
tgCrypto
urllib3
xattr
https://bot.siddrive.ga/0:/yt.tar.gz
waybackpy
